.status-content {
  width: 350px;
}

.status-content .buttons {
  display: flex;
  align-items: center;
}

.status-content img {
  width: 30px;
}

.status-content .status {
  align-self: flex-start;
  padding: 30px;
  background-color: #edf4f6;
  line-height: 2;
}

.reset-btn {
  background-color: #ef435e;
  font-size: 20px;
  border: 0;
  color: white;
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
  margin-left: auto;
}

.excel-btn {
  display: none;
}